#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  min-width: 100%;
  /* padding: 1rem; */
}
/* @media (min-width: 900px) {
  #root {
    padding: 2rem;
  }
} */

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
